<ion-header>
    <ion-toolbar color="tertiary">
        <ion-button slot="start" fill="clear" (click)="closeArticleActions()">
            <ion-icon style="color:#fff; font-size: 25px" name="arrow-round-back"></ion-icon>
        </ion-button>
        <ion-title>
            <h4>{{ article.Name }}</h4>
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
        <ion-card-content>
            <br>
            <ion-label color="primary">Nombre:</ion-label>{{ article.Name }}<br>
            <ion-label color="primary">Descripción:</ion-label> {{ article.Description }}<br>
            <ion-label color="primary">Localización:</ion-label> <b>{{ article.Location }}</b><br>
            <ion-label color="primary">Fabricante:</ion-label> {{ article.Manufacturer }}<br>
            <ion-label color="primary">Numero de Parte:</ion-label> {{ article.PartNumber}}<br>
            <ion-label color="primary">Estado:</ion-label> {{ article.Status }}<br>
            <ion-label color="primary">Ultimo movimiento:</ion-label> {{ article.LastMovement }}
            <br><br><br>
            <section>
                <ion-button color="primary">Scan QR</ion-button>
                <ion-button color="danger">Salida</ion-button>
                <ion-button color="success">Entrada</ion-button>
            </section>
        </ion-card-content>
    </ion-card>
</ion-content>