<ion-header>
    <ion-toolbar color="tertiary">
        <ion-button slot="start" fill="clear" (click)="closeArticle()">
            <ion-icon style="color:#fff; font-size: 25px" name="arrow-round-back"></ion-icon>
        </ion-button>
        <ion-title><h1>{{ art }}</h1></ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
        <ion-card *ngFor="let article of articles">
            <ion-card-content>
                <br>
                <p>Descripción:</p>
                <p>{{ article.Description }}</p><br>
                <p>Localización: {{ article.Location }}</p><br>
                <p>Fabricante: {{ article.Manufacturer }}</p><br>
                <p>Numero de Parte: {{ article.PartNumber}}</p><br>
                <p>Estado: {{ article.Status }} </p><br>
                <p>Ultimo movimiento: {{ article.LastMovement }}</p>
            </ion-card-content>
        </ion-card>
</ion-content>