<ion-header>
    <ion-toolbar color="tertiary">
            <ion-button slot="end" fill="clear" (click)="goToSearchPage()">
                    <ion-icon style="color:#fff" name="mic" *ngIf="plattformcordova"></ion-icon>
                    <ion-icon style="color:#fff" name="search" *ngIf="!plattformcordova"></ion-icon>
            </ion-button>
        <ion-button slot="end" fill="clear" (click)="presentActionSheet()">
            <ion-icon style="color:#fff" name="menu"></ion-icon>
        </ion-button>
        <ion-title *ngIf='!locationMode'>
            Inventario Modelos
        </ion-title>
        <ion-button slot="start" fill="clear" (click)="goBack()"  *ngIf='locationMode'>
            <ion-icon style="color:#fff; font-size: 25px" name="arrow-round-back"></ion-icon>
        </ion-button>
        <ion-title *ngIf='locationMode'>            
            {{ lastLocation }} ( {{ totalModels }} )
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>

    <ion-list *ngIf='!locationMode'>
        <ion-item *ngFor="let model of models" (click)="openArticle(model)">
            <ion-avatar slot="start">
                <ion-icon name="list-box" color="primary"></ion-icon>
            </ion-avatar>
            <ion-label>
                <h2> <b>{{ model.Name }}</b> </h2>
            </ion-label>
            <ion-badge color="primary" slot="end" type="ios">{{ model.Total }}</ion-badge>
        </ion-item>
    </ion-list>

    <ion-list  *ngIf='locationMode'>
        <ion-item *ngFor="let model of models" (click)="openArticle(model)">
            <ion-avatar slot="start">
                <ion-icon name="list-box" color="primary"></ion-icon>
            </ion-avatar>
            <ion-label>
                <h2> <b>{{ model._id.PartNumber }}</b> </h2>
            </ion-label>
            <ion-badge color="primary" slot="end" type="ios">{{ model.count }}</ion-badge>
        </ion-item>
    </ion-list>

    <ion-fab vertical="bottom" horizontal="start" slot="fixed">
        <ion-fab-button>
          <ion-icon name="md-barcode" (click)="Scan()" ></ion-icon>
        </ion-fab-button>
      </ion-fab>

    <!-- <ion-button (click)="Onlogout()" >desconectarse</ion-button> -->

</ion-content>
